<div class="bar">
  <p>
      <mat-toolbar color="primary">
        
        <div class="button">
          <a mat-flat-button routerLink="/connexion"color="grey"> connexion</a>
          <a mat-flat-button routerLink="/acceuil" color="grey"> acceuil</a>
          <a mat-flat-button routerLink="/inscription"color="grey"> inscription</a>
        
        </div>
          <div class="bar"></div>
          <div class="button">
        
          <a mat-raised-button routerLink="/connexion">deconnexion</a>
          </div>
          
     
      </mat-toolbar>
    </p>
</div>